
@{
    ViewData["Title"] = "About";
}

<h1>About us</h1><hr />

<div class="jumbotron">
    <h4>We are Estore</h4>
    <h6>We are an ecommers store who sell all kind of products here, we deliver our products all over the country</h6>
    <br />
    <div class="table">
        <table class="table">
            <tr class="table table-secondary">
                <td>
                    <h6>Call us</h6>
                </td>
                <td>
                    <h6>Email us</h6>
                </td>
                <td>
                    <h6>Visit us</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>+91807431161122</h6>
                </td>
                <td>
                    <h6>codingfurqaan@gmail.com</h6>
                </td>
                <td>
                    <h6>Plot.No 2 Madhapur Hitech City Hyderabad<br />Telangana India</h6>
                </td>
            </tr>
        </table>
    </div>
</div>

